@use '@zocom/styles' as *;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&display=swap');

.price-box {
    width: 100%;
    padding: $padding-sml;
    background-color: $shade-24-dark;
    border-radius: $radius-tier-2;
    font-family: 'Fira Sans', sans-serif;
    border: solid $snow;
    

    h3 {

        @include fontsizeLarge;
    }

    p {

        @include fontsizeLarge;
    }

    .price {
        display: flex;
        @include fontsizeXLarge;
        
        justify-content: flex-end;
    }
    
}

.container {
    width: 100%;
}