@use '@zocom/styles' as *;

.receipt-page {
    padding: $padding;
    background-color: $clay;
    @include column;
    height: 100%;
    justify-content: space-between;
    font-family:var(--font-family);
}

.receipt-container {
    background-color: $snow;
    width: 100%;
    height: auto;
    @include column;
    margin-top: $margin-huge;
    padding-top: $padding-huge;
    border-radius: $radius-tier-2;
    gap: $gap-large;
}

.receipt-items {
    width: 100%;
    @include column;
    gap: $gap-sml;
}

.receipt-title {
    @include fontsizeLarge;
    color: $color-text-secondery;
    text-shadow: textShadow();
}

.order-nr {
    color: $color-text-tertiary;
    @include fontsizeTiny;
    
    font-weight: bold;
}