
@use '@zocom/styles' as *;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&display=swap');

.btn {
    border-radius: $radius-tier-2;
    background-color: $coal;
    color: $snow;
    font-family: 'Fira Sans', sans-serif;
}

.btn--clay {
    background-color: $clay;
    border: solid $snow;
}

.btn--dark-mint {
    background-color: $dark-mint;
    border: solid $snow;
}

.btn--stretch {
    width: 100%;
    @include fontsizeLarge;
    padding: $padding-large;
}
.btn--round {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    @include fontsizeLarge;
    
}
