
@use '@zocom/styles' as *;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&display=swap');

.btn {
    border-radius: $radius-tier-2;
    background-color: $coal;
    color: $snow;
    font-family: 'Fira Sans', sans-serif;
    @include fontsizeLarge;
    width: 100%;
    padding: $padding-large;
}

.btn--clay {
    background-color: $clay;
    border: solid $snow;
}

.btn--dark-mint {
    background-color: $dark-mint;
    border: solid $snow;
}