@import url('https://fonts.googleapis.com/css?family=Fira Sans');

:root {
    --font-family: 'Fira Sans', sans-serif;
}

$base-font-size: 32px;

/*@mixin font-size($sizeValue: 1) {
    font-size: $base-font-size * $sizeValue;
}
*/