/* Color variables*/
$bacon:  #FBE9E9 ; 
$ash:   #EEEEEE;
$snow:  #F4F3F1;
$alert:  #EB5757;
$light-mint:  #DBFBF0;
$mint:  #8ED8BF;
$dark-mint:  #489078;
$clay:  #605858;
$coal:   #353131;
$shade-24-light:  #F1F0EC 24%;
$shade-24-dark :#353131 24%;

/*App's Color Variables  */
$color-background-landingpage: $mint;
$color-background-menu: $clay;
$color-background-button:$coal; 



$radius-1:4px;