/* Color variables*/
$bacon:  #FBE9E9 ; 
$ash:   #EEEEEE;
$snow:  #F4F3F1;
$alert:  #EB5757;
$light-mint:  #DBFBF0;
$mint:  #8ED8BF;
$dark-mint:  #489078;
$clay:  #605858;
$coal:   #353131;
$shade-24-light:  rgba(241, 240, 236, 0.24);
$shade-24-dark :rgba(53, 49, 49, 0.24);
$baseline: 16px;
/* Background Colors  */
$color-background-primary: $clay;
$color-background-secondery: $coal;
$color-background-tertiary: $ash;

$color-background-button-primary:$coal; 
$color-background-button-alert:$alert; 
$color-background-button-success:$dark-mint; 

/* Border Colors  */
$color-border-button:$snow;


/*Text Colors*/
$color-text-primary: $snow;
$color-text-secondery: $coal;
$color-text-tertiary: $clay;


/* EFFECTS */
$radius-tier-1: 8px;
$radius-tier-2: 4px;
$radius-tier-3: 2px;

/* RESPONSIVE */
$mobileBreakpoint: 480px;
$tabletBreakpoint: 640px;

/* MARGINS, PADDINGS, GAPS */



$padding-huge: calc($baseline * 2);
$padding-large: calc($baseline * 1.5);
$padding: $baseline;
$padding-sml: calc($baseline / 2);
$padding-nano: calc($baseline / 4);

$margin-huge: calc($baseline * 2);
$margin-large: calc($baseline * 1.5);
$margin: $baseline;
$margin-sml: calc($baseline / 2);
$margin-nano: calc($baseline / 4);

$gap-large: calc($baseline * 1.5);
$gap: $baseline;
$gap-sml: calc($baseline / 2);
$gap-nano: calc($baseline / 4);



/* HELPERS */

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  @mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-sml;
  }
  
  @mixin row {
    display: flex;
    flex-direction: row;
    gap: $gap;
  }

  