@use '@zocom/styles' as *;

.landingPage{
    padding: $padding;
    
}

.menu_container {
    background-color: $color-background-primary;
    color: $color-text-primary; 
    font-family:var(--font-family);
    height: 100%;
    padding: $padding;
}

.menu_title {
    @include fontsizeXLarge;
    text-shadow: textShadow(); 
    padding: $padding 0;
}