@use '@zocom/styles' as *;


.header {
    @include row;
    justify-content: space-between;
    width: 100%;
}

.cart-frame {
    width: 64px;
    height: 64px;
    background-color: $snow;
    border-radius: 4px;
}

.cart {
    margin: 1rem;
}

