@use '@zocom/styles' as *;



.header {
    @include row;
    justify-content: space-between;
    width: 100%;
}

.header__title{
    text-transform:uppercase ;
    @include fontsizeXLarge; 
    font-family: font-family();
    
}
.cart-frame {
    width: 64px;
    height: 64px;
    background-color: $snow;
    border-radius: 4px;
}

.cart {
    margin: 1rem;
}